// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// LEFT SIDEBAR
#leftSidebar li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
#leftSidebar li a:hover {
    color: grey;
}


// CHICK CONTENT
#chickBox {
    border: solid #fed835 1px;
    border-radius: 10px;
    box-shadow: #fed935af 0px 0px 10px 2px;
}

#chickBox textarea {
    border: none;
}

#chickBox button {
    color: rgb(85, 84, 84);
}

#chickPic {
    border-radius: 50px;
    margin-top: -8px;
}

#timeline {
    border: solid rgb(163, 163, 163) 1px;
    border-radius: 5px;
}

#postContent {
    border-bottom: solid rgb(163, 163, 163) 1px;
}

#commentBtn {
    margin-top: -60px;
}


// PROFILE
#profileImg {
    margin-top: -80px;
}